- @hide_breadcrumbs = true
- @hide_top_links = true
- page_title    _('New Group')
- header_title  _("Groups"), dashboard_groups_path

.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('New group')
.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %p
      - group_docs_path = help_page_path('user/group/index')
      - group_docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: group_docs_path }
      = s_('%{group_docs_link_start}Groups%{group_docs_link_end} allow you to manage and collaborate across multiple projects. Members of a group have access to all of its projects.').html_safe % { group_docs_link_start: group_docs_link_start, group_docs_link_end: '</a>'.html_safe }
    %p
      - subgroup_docs_path = help_page_path('user/group/subgroups/index')
      - subgroup_docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: subgroup_docs_path }
      = s_('Groups can also be nested by creating %{subgroup_docs_link_start}subgroups%{subgroup_docs_link_end}.').html_safe % { subgroup_docs_link_start: subgroup_docs_link_start, subgroup_docs_link_end: '</a>'.html_safe }
    %p
      = _('Projects that belong to a group are prefixed with the group namespace. Existing projects may be moved into a group.')

  .col-lg-9
    = form_for @group, html: { class: 'group-form gl-show-field-errors' } do |f|
      = form_errors(@group)
      = render 'shared/group_form', f: f, autofocus: true

      .row
        .form-group.group-description-holder.col-sm-12
          = f.label :avatar, _("Group avatar"), class: 'label-bold'
          %div
            = render 'shared/choose_avatar_button', f: f

        .form-group.col-sm-12
          %label.label-bold
            = _('Visibility level')
          %p
            = _('Who will be able to see this group?')
            = link_to _('View the documentation'), help_page_path("public_access/public_access"), target: '_blank'
          = render 'shared/visibility_level', f: f, visibility_level: default_group_visibility, can_change_visibility_level: true, form_model: @group, with_label: false

          = render 'create_chat_team', f: f if Gitlab.config.mattermost.enabled

      .form-actions
        = f.submit '创建群组', class: "btn btn-success"
        = link_to '取消', dashboard_groups_path, class: 'btn btn-cancel'
